#box {
    border: 2px solid #140404;
  box-shadow: 0 0 10px rgba(230, 84, 12, 0.869);
    border-radius: 25px;
    text-align: center;
    margin: auto;
    width:500px;
    height: 200px;
    background-color: tran;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.text-outline {
    font-family: Arial, sans-serif;
    padding: 10px;
    color: #14bdc2; /* Set the text color */
    text-shadow:
      -2px -2px 0 #000, /* Top-left shadow */
      2px -2px 0 #000,  /* Top-right shadow */
      -2px 2px 0 #000,  /* Bottom-left shadow */
      2px 2px 0 #000;
}



#social {
    width: 500px;
    margin: auto;
}

h1 {
    font-size: 2.2em;
    margin-top: 10px;
    margin-bottom: 0;
}

span {
    font-size: 1.5em;
}

body {
    background-image: url("https://cdn.recreation.gov/public/2020/06/18/18/04/233393_47b3d2a1-6544-4b43-96ca-a07bd9c5db12_1440.jpg");
}

/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  padding: 2% 0 0 33%;
  position: center;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}